.required {
  color: red;
}

.close__button {
  background-color: white;
}

.modal__header {
  display: flex;
  border-bottom: 1px solid #c5bdbd;
  align-items: center;
  justify-content: space-between;
  padding: 15px;
}

.modal__footer {
  display: flex;
  border-top: 1px solid #c5bdbd;
  align-items: center;
  justify-content: end;
  padding: 15px;
  gap: 20px;
}

.input__block {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 50px 30px;
}

label {
  display: flex;
  flex-direction: column;
}

.input__name {
  display: flex;
  margin-bottom: 8px;
}

p {
  margin: 0;
}

h2 {
  margin: 0;
}

input {
  padding: 10px;
}

.cancel {
  background-color: #ffffff;
  color: #888888;
}

.save {
  background-color: #54adff;
  color: #ffffff;
}
