.cityImg {
  height: 200px;
  width: 200px;
}

.tripInfo__container {
  border: 1px lightgray solid;
  border-top: none;
  width: 200px;
  margin: 0;
}

li {
  display: flex;
  flex-direction: column;
  cursor: pointer;
}
