.cityImg {
  height: 200px;
  width: 200px;
}

.tripInfo__container {
  border-top: none;
  width: 200px;
  margin: 0;
}

.city__item {
  display: flex;
  flex-direction: column;
  cursor: pointer;
  box-sizing: border-box;
  border: 1px lightgray solid;
}

.active {
  border-color: rgb(160, 191, 248);
}
