.today__wrapper {
  background-image: url("../../img/background/bgimage.jpg");
  height: auto;
  background-size: cover;
  min-width: 30%;
  min-height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}

.time__list {
  display: flex;
  gap: 20px;
}

.temp {
  display: flex;
  gap: 20px;
  align-items: center;
}

.time {
  font-weight: bold;
  font-size: 32px;
}

.time__text {
  text-transform: uppercase;
}

.temp__current {
  font-size: 52px;
}

.selected__city {
  font-size: 32px;
}

.user__info {
  border-radius: 50px;
  width: 70px;
  height: 70px;
}

.user__wrapper {
  display: flex;
  align-items: center;
  position: absolute;
  top: 40px;
  right: 40px;
}


